# Ignore environment files
.env
.env.*
myenv/

# Ignore files starting with 'test'
test*

# Ignore  __pycache__ directory
__pycache__
*.pylance

# Ignore template directory
template/

# Ignore .vscode directory
.vscode

# Ignore TA_Lib-0.4.28-cp311-cp311-win_amd64.whl file
TA_Lib-0.4.28-cp311-cp311-win_amd64.whl


